## 1.
Define a function named is_two. It should accept one input and return True if the passed input is either the number or the string 2, False otherwise.

In [232]:


def is_two (num):
    if num == (2 or '2'):
        print('True')
    else:
        print('False')
    return num

In [233]:
is_two(2)

True

2

In [234]:
is_two('2')

False

'2'

In [235]:
is_two(3)

False

3

In [300]:
#misty example
test_input = 2

In [302]:
if test_input == 2 or test_input == '2':
    print(True)

True

In [308]:
def is_two(string):
    if string == 2 or test_input == '2':
        return True
    else:
        return False

In [309]:
is_two(2)

True

In [310]:
is_two(3)

False

## 2.
Define a function named is_vowel. It should return True if the passed string is a vowel, False otherwise.

In [161]:
def is_vowel (ch):
    if(ch=='A' or ch=='a' or ch=='E' or ch =='e' or ch=='I'
     or ch=='i' or ch=='O' or ch=='o' or ch=='U' or ch=='u'):
        print('True')
    else:
        print('False')
    return ch

In [311]:
#misty example

In [313]:
string = 'a'

In [314]:
if string == 'a' or string == 'e':
    print(True)

True

In [315]:
vowels = ['a','e','i','o','u']

In [316]:
if string in vowels:
    print(True)

True

In [ ]:
string_vowels = 'aeiou'

In [ ]:
if string in string_vowels:
    print(True)

In [320]:
def is_vowel(string):
    string_vowels = 'aeiou'
    return string.lower() in string_vowels

In [318]:
is_vowel('a')

True

In [321]:
is_vowel('f')

False

In [322]:
is_vowel('A')

True

## 3.
Define a function named is_consonant. It should return True if the passed string is a consonant, False otherwise. Use your is_vowel function to accomplish this.

In [328]:
def is_consonant (con):
    if con == ("a" or "e" or "i" or "o" or "u" or "A" or "E" or "I" or "O" or "U"):
        print ("False")
    else:
        print ("True")
    return

In [329]:
is_consonant(a)

False

In [176]:
is_consonant("b")

True

In [330]:
is_consonant("A")

True

## 4.
Define a function that accepts a string that is a word. The function should capitalize the first letter of the word if the word starts with a consonant.

In [191]:
def capitalize_consonant(word):
    vowel = ["a","e",'i','o','u']
    if word[0].lower() not in vowel:
        return word.capitalize()
    else:
        return word

In [192]:
capitalize_consonant('hotel')

'Hotel'

## 5.
Define a function named calculate_tip. It should accept a tip percentage (a number between 0 and 1) and the bill total, and return the amount to tip.

In [236]:
def calculate_tip(tip_perc, bl_total):
    tip_amount = tip_perc * bl_total
    return (tip_amount)

In [237]:
calculate_tip(0.20, 35.75)

7.15

## 6.
Define a function named apply_discount. It should accept a original price, and a discount percentage, and return the price after the discount is applied.

In [211]:
def apply_discount(original_price, discount_percentage):
    discount_amount = original_price * (discount_percentage/100)
    discounted_price = original_price - discount_amount
    return discounted_price

In [212]:
apply_discount(125, 25)

93.75

## 7.
Define a function named handle_commas. It should accept a string that is a number that contains commas in it as input, and return a number as output.

In [331]:
def handle_commas(number_string):
    number_string = number_string.replace(',',"")
    number = (number_string)
    return int(number)

In [332]:
handle_commas ('1,000')

1000

## 8.
Define a function named get_letter_grade. It should accept a number and return the letter grade associated with that number (A-F).

In [216]:
def get_letter_grade(number):
    if number >= 90:
        return 'A'
    elif number >= 80:
        return 'B'
    elif number >= 70:
        return 'C'
    elif number >= 60:
        return 'D'
    else:
        return 'F'

In [217]:
get_letter_grade(80)

'B'

In [333]:
get_letter_grade(68)

'D'

In [334]:
get_letter_grade(40)

'F'

## 9.
Define a function named remove_vowels that accepts a string and returns a string with all the vowels removed.

In [218]:
def remove_vowels(string):
    vowels = ['a','e','i','o','u','A','E','I','O','U']
    new_string = ""
    for char in string:
        if char not in vowels:
            new_string += char
    return new_string

In [219]:
remove_vowels('operation')

'prtn'

## 10.
Define a function named normalize_name. It should accept a string and return a valid python identifier, that is:
- anything that is not a valid python identifier should be removed
- leading and trailing whitespace should be removed
- everything should be lowercase
- spaces should be replaced with underscores
  
  -- for example:
- Name will become name
- First Name will become first_name
- % Completed will become completed

In [341]:
def normalize_name(string):
    string = ''.join(i for i in string if i.isalnum() or i ==' ')
    string = string.strip().lower().replace(' ','_')
    return string
    
    #string = string.lower()
    #string = string.replace(' ','_')
    #return string

In [342]:
normalize_name('Hotel California!!!')

'hotel_california'

## 11.
Write a function named cumulative_sum that accepts a list of numbers and returns a list that is the cumulative sum of the numbers in the list.
cumulative_sum([1, 1, 1]) returns [1, 2, 3]
cumulative_sum([1, 2, 3, 4]) returns [1, 3, 6, 10]

In [243]:
from itertools import accumulate
def cumulative_sum(input_list):
    return list(accumulate(input_list))
cumulative_sum([1, 3, 6, 10])

[1, 4, 10, 20]

In [240]:
cumulative_sum([1,1,1])

[1, 2, 3]

In [244]:
def cumulative_sum(numbers):
    cumulative_sum = []
    sum_so_far = 0
    for number in numbers:
        sum_so_far += number
        cumulative_sum.append(sum_so_far)
    return cumulative_sum

In [246]:
cumulative_sum([1,1,1])

[1, 2, 3]